<div class="app p-4 container-fluid">
  <div class="row">
    <div class="col col-md-4 offset-md-4">
      <div class="text-center">
        <app-card [user]="user" *ngIf="user; else loadingSpinner"></app-card>

        <ng-template #loadingSpinner>
          <div class="spinner-grow spinner-grow-lg text-secondary mb-4 loadingSpinner" role="status"></div>
          <h4 class="text-white">Loading...</h4>
        </ng-template>
      </div>
    </div>
  </div>
  <div class="text-center mt-3">
    <button type="button" class="btn btn-secondary" (click)="reloadOnCard()">Reload</button>
  </div>
</div>
